@media (max-width: 600px) {
    header{
        display: flex;
        flex-direction: column;
    }

    #logo{
        width: 50vw;
        align-self: flex-end;
        margin-right: 2vw;
    }

    nav{
        justify-content: center;
    }

    ul{
        width: 95vw;
        justify-content: space-around;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    main{
        flex-direction: column;
        align-items: center;
    }

    #main-left{
        width: 90%;
    }
    
    #main-left h1{
        width: 100%;
    }
    
    #main-left p{
        width: 100%;
    }

    #main-right{
        width: 90%;
    }
    
    #main-right img{
        width: 100%;
    }

    #productos-down{
        flex-direction: column;
    }
    
    .contenedor-producto{
        margin: 2vh;
        padding: 2vh;
    }

    #demo video{
        width: 90%;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
    }

    .footer-redes {
        display: flex;
        flex-direction: column;
    }
   
}